.event {
	border: 1px solid black;
	width: 120px;
	text-align: center;
	background-color: white;
}

td.highlight {
	border: none !important;
	padding: 1px 0 1px 1px !important;
	background: none !important;
	overflow: hidden;
}

td.highlight a {
	background: #99dd73 50% 50% repeat-x !important;
	border: 1px #88a276 solid !important;
}